{% extends 'admin/change_form.html' %}
{% load static %}

{% block extrahead %}{{ block.super }}
    <script src="{% static 'redshift/js/restoreclustertask/change_form.js' %}"></script>
    <script>
        django.jQuery(function () {
            {% if adminform.form.instance.status != 'CREATED' %}
                django.jQuery('#id_launch').toggle();
            {% endif %}
            {% if adminform.form.instance.status != 'RUNNING' %}
                django.jQuery('#id_running').toggle();
            {% endif %}
        });
    </script>
{% endblock %}
