{% extends 'admin/change_form.html' %}
{% load static %}

{% block extrahead %}{{ block.super }}
    <script src="{% static 'redshift/js/restoreclustertask/change_form.js' %}"></script>
{% endblock %}

{% block object-tools-items %}
    <li>
        <a id="id_launch" onclick="return false;"
           href="{% url 'redshift:launch_restore_cluster_task' object_id %}">启动</a>
    </li>
    <li>
        <a id="id_running" onclick="return false;" href="#"
           style="background-color: #75f94c; color: red;">运行中...</a>
    </li>
    <script>
        {% if adminform.form.instance.status != 'CREATED' %}
            django.jQuery('#id_launch').toggle();
        {% endif %}
        {% if adminform.form.instance.status != 'RUNNING' %}
            django.jQuery('#id_running').toggle();
        {% endif %}
    </script>
    {{ block.super }}
{% endblock %}
