/*增加自动补全外键宽度*/
.select2-container--admin-autocomplete {
    min-width: 100% !important;
}

.vTextField, .vURLField {
    width: 80% !important;
}

/*隐藏内联模型第一列标题*/
.inline-group .tabular td.original p {
    display: none;
}
