{% extends "admin/change_list_object_tools.html" %}

{% block object-tools-items %}
    <li><label for="id_table">表: </label><input type="text" id="id_table" value="{{ search_table }}"/></li>
    <li><a id="id_refresh_tasks" href="{% url 'dms:refresh_tasks' %}">刷新列表</a></li>
    {{ block.super }}
    <script>
        const btn_refresh_tasks = django.jQuery('#id_refresh_tasks');
        const input_table = django.jQuery('#id_table');

        function build_refresh_snapshots_url() {
            const baseUrl = new URL(btn_refresh_tasks.prop('href'));
            const params = {
                search_table: input_table.val()
            };

            const urlParams = Object.keys(params).map(key => `${encodeURIComponent(key)}=${encodeURIComponent(params[key])}`).join('&');
            return `${baseUrl.pathname}?${urlParams}`;
        }

        django.jQuery(function () {
            input_table.change(function () {
                btn_refresh_tasks.prop('href', build_refresh_snapshots_url());
            });
        });
    </script>
{% endblock %}
