{% extends "admin/change_list_object_tools.html" %}

{% block object-tools-items %}
    <li><label for="id_server_name">数据库地址: </label><input type="text" id="id_server_name" value="{{ server_name }}" style="width: 550px;"/></li>
    <li><a id="id_refresh_endpoints" href="{% url 'dms:refresh_endpoints' %}">刷新列表super }}
    <script>
        const btn_refresh_endpoints = django.jQuery('#id_refresh_endpoints');
        const input_server_name = django.jQuery('#id_server_name');

        function build_refresh_snapshots_url() {
            const baseUrl = new URL(btn_refresh_endpoints.prop('href'));
            const params = {
                server_name: input_server_name.val()
            };

            const urlParams = Object.keys(params).map(key => `${encodeURIComponent(key)}=${encodeURIComponent(params[key])}`).join('&');
            return `${baseUrl.pathname}?${urlParams}`;
        }

        django.jQuery(function () {
            input_server_name.change(function () {
                btn_refresh_endpoints.prop('href', build_refresh_snapshots_url());
            });
        });
    </script>
{% endblock %}
