{% extends 'admin/change_form.html' %}
{% load static %}

{% block extrahead %}{{ block.super }}
    {# 第三方js #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.8/dayjs.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    {# 自己写的js #}
    <script src="{% static 'js/file.js' %}"></script>
    <script src="{% static 'schemagenerator/js/task/change_form.js' %}"></script>

    <script>
        django.jQuery(function () {
            {% if original.status == 'running' %}
                setTimeout(function () {
                    location.reload();
                }, 5000); // 5000毫秒（5秒）
            {% endif %}
        });
    </script>
{% endblock %}
