{% extends 'admin/change_form.html' %}
{% load static %}

{% block extrahead %}{{ block.super }}
    <script src="{% static 'schemagenerator/js/task/change_form.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.8/dayjs.min.js"></script>
{% endblock %}

{% block object-tools-items %}
    <li>
        <a id="id_launch" href="{% url 'schemagenerator:launch_task' object_id %}" onclick="return false;" {% if adminform.form.instance.status != 'CREATED' %}style="display: none;"{% endif %}>启动</a>
    </li>
    <li>
        <a id="id_running" href="#" onclick="return false;" style="{% if adminform.form.instance.status != 'RUNNING' %}display: none; {% endif %}background-color: #75f94c; color: red;">运行中...</a>
    </li>
    <li>
        <a id="id_download_sql" href="{% url 'schemagenerator:download_sql' object_id %}" onclick="return false;" style="{% if adminform.form.instance.status != 'COMPLETED' %}display: none; {% endif %}background-color: #377d22;">下载查询SQL</a>
    </li>
    <li>
        <a id="id_download_ods_ddl_sql" onclick="return false;" href="{% url 'schemagenerator:create_ddl_sql' object_id %}?schema=ods" style="{% if adminform.form.instance.status != 'COMPLETED' %}display: none; {% endif %}background-color: #377d22;">ODS DDL</a>
    </li>
    <li>
        <a id="id_download_emr_ddl_sql" onclick="return false;" href="{% url 'schemagenerator:create_ddl_sql' object_id %}?schema=emr" style="{% if adminform.form.instance.status != 'COMPLETED' %}display: none; {% endif %}background-color: #377d22;">EMR DDL</a>
    </li>
    {{ block.super }}
{% endblock %}

